<h1>Users#index</h1>
<% @users.each do |user| %>

  <%= user.name %>
  <%= link_to "show", user_path(user) %>
  <%= link_to 'edit', edit_user_path(user) %>
  <%= link_to 'delete', user, method: :delete, data: { confirm: "削除してもいいですか？" }, class: "btn btn-primary" %>


<% end %>
