<% unless @user.nil? %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </div>
      </ul>
    </div>
  <% end %>
<% end %>

<% unless @book.nil? %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <ul>
        <div class="alert alert-danger">
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </div>
      </ul>
    </div>
  <% end %>
<% end %>

<% unless @volume.nil? %>
  <% if @volume.errors.any? %>
    <div id="error_explanation">
      <ul>
        <div class="alert alert-danger">
        <% @volume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </div>
      </ul>
    </div>
  <% end %>
<% end %>

<% unless @evaluation.nil? %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <ul>
        <div class="alert alert-danger">
        <% @evaluation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </div>
      </ul>
    </div>
  <% end %>
<% end %>