<% provide(:title, "本棚（順番）") %>
<table class= "table table-bordered">
  <tr>
    <th class= "text-center">順番</th>
    <th class= "text-center">画像</th>
    <th class= "text-center">並び替え</th>
  </tr>
  <% @pictures.each do |picture| %>
    <%= render 'pictures_list', picture: picture %>
  <% end %>
</table>