<div class= "row border-css">
  <% @books.each do |book| %>
    <div class= "col-md-4 book-margin">
      <%= image_tag book.picture.url if book.picture.presence %><br>
      <div class= "book-title"><%= link_to book.title, volume_path(book), class: "book-title button-t-c" %></div>
    </div>
  <% end %>
</div>
