<h1>Books#viewer_index</h1>
<div class= "row book-bocks">
  <% @books.each do |book| %>
    <div class= "col-md-4 book-margin">
      <%= link_to book.title, volume_path(book), class: "book-title" %><br>
      <%= image_tag book.picture.url if book.picture.presence %>
    </div>
  <% end %>
</div>
